@charset "utf-8";

$primary_green: #8cc11e;
$secondary_green: #DEEFBC;

.p-question-area {
  max-width: $width * 0.6;
  margin-left: auto;
  margin-right: auto;
  background-color: $secondary_green;
  border-radius: 10px;
}
.p-question-area + .p-question-area {
  margin-top: 50px;
}
.p-question-ttl {
  color: #FFFFFF;
}
.p-question-header {
  padding: 10px 20px;
  background-color: $primary_green;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.p-question-body {
  padding: 20px;
}
.p-question-ans {
  margin-top: 30px;
}
.p-question-ans-list {
  margin-top: -20px;
  > li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 20px;
  }
}
.p-question-ans-list-inner {
  display: table;
  width: 100%;
  input {
    display: table-cell;
    vertical-align: initial;
   }
  label {
    width: 90%;
    display: table-cell;
    vertical-align: middle;
  }

}